@model InstructorCoursesViewModel
@if(Model.Instructor!=null){
@Model.Instructor.InstructorFN 
}
  <link rel="stylesheet" href="~/css/Instructor.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <div class="container">
        
        <div class="box box-1">
        
    <img src="@Url.Action("GetInstructorImage", new { id = @Model?.Instructor?.InstructorId })" alt="Instructor Image" />
            <div class="info">
                <div class="name" style="font-size: 1.5em; font-weight: bold;">@if(Model?.Instructor!=null){
@Model.Instructor.InstructorFN  @Model.Instructor.InstructorLN 
}</div> 
                <div class="profession" style="font-size: 1.2em; color: #555;">Software Engineer</div>
            </div>
        </div>

        
        <div class="box box-2">
            <div class="about-me">
                <h3>About Me</h3>
                <p>
                    @if(Model?.Instructor!=null)
                    @Model.Instructor.InstructorExplain
                </p>
            </div>
        </div>

        
        <div class="box box-3">
           
            <div class="list">
                <h3>My Courses</h3>
                <ul>
                     @foreach(var a in Model?.Courses ??Enumerable.Empty<CourseInfo>()){
        <li style="courses"><a asp-controller="Course" asp-action="CourseContent" asp-route-id="@a.CourseId" >@a.CourseName</a></li>
    }
                </ul>
            </div>

           
            <div class="social-buttons">
                <a href="https://youtube.com" class="social-button youtube" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a>
                <a href="https://linkedin.com" class="social-button linkedin" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com" class="social-button x" target="_blank" title="X"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
    @foreach(var a in Model?.Courses ??Enumerable.Empty<CourseInfo>()){
        <li>@a.CourseName</li>
    }

