@model IEnumerable<CourseInfo>

 <link rel="stylesheet" href="~/css/MyAccount.css">
  
  <div class="container">
     <header class="header2">
      <h1>My Learning</h1>
    </header>

    <div class="courses">
   
        @foreach(var a in Model){
      <div class="course-card"> 
        <img src="@Url.Action("GetCourseImage", new { id = a.CourseId })" alt="Course Image" />
        <h2><a asp-controller="Course" asp-action="CourseContent" asp-route-id="@a.CourseId">@Html.DisplayFor(modelItem=>a.CourseName)</a></h2>
        
        <p><a asp-controller="Home" asp-action="Instructor" asp-route-id="@a.InstructorId">@Html.DisplayFor(modelItem=>a.CourseInstructor)</a></p>
       
        <button>@Html.DisplayFor(modelItem=>a.CourseState)</button>
      </div>}
    </div>
  </div>